html, body, div, span, input, button, h1, h2, h3, h4, h5, h6, p, img,
a, b, i, dl, dt, dd, ol, ul, li, select,
form, fieldset, legend, label,
table, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

body {
    background-color:#fff;
    font-size: 14px;
    line-height: 1.42857143;
    color: #000;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
    -webkit-text-size-adjust: 100%;
    -webkit-appearance: none;
    -webkit-box-sizing: border-box;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
}
select{
    font-family:inherit;
    font-size:inherit;
    font-weight:inherit;
    border: none;
    outline: none;
}

ul, li {
    list-style: none;
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
    -webkit-padding-start: 0;
}

p {
    -webkit-margin-before:0;
    -webkit-margin-after:0;
}


a {
    outline: none;
    color:#000;
    text-decoration: none;
    background-color: transparent;
    white-space: nowrap;
}

a:hover {
    text-decoration: none;
    color:#000;
}

a:active, a:focus {
    outline: none;
    text-decoration: none;
    color:#000;
}
/* jxm-tabs */
.jxm-tab-nav {
  position: relative;
}
.jxm-tab-label {
  display: inline-block;
  font-size: 16px;
  height: 100%;
  padding: 9px 18px;
  box-sizing: border-box;
  cursor: pointer;
  text-decoration: none;
  position: relative;
  transition: color .3s ease-in-out;
}
.jxm-tab-label:hover {
  color:#ff5c5c;
}
.jxm-tab-label.active {
  color:#ff5c5c;
  font-weight: 600;
}
.jxm-tab-page {
  display: none;
}
.jxm-tab-page.active {
  display: block;
}
.jxm-tab-indicator {
  position: absolute;
  bottom: 1px;
  background: #ff5c5c;
  transition: transform .3s ease-in-out;
  transform: translate3d(0px, 0px, 0px);
  height: 2px;
}